*, *::before, *::after{
    box-sizing: border-box;
}

/*
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
 */

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* Navigation */

.nav {
    padding: 40px 0; /* first padding from up down second left right */

}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, a.nav__logo {
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

a.nav__logo:hover {
    color: #F72464;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    margin-left: 30px;
    font-size: 18px;
}

/* Property for last nav__item */
.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: black;
}

.nav__link:hover {
    color: #F72464;
}

.nav__cart {

}

.nav__cart-link {
    position: relative;
    display: block;
    padding: 5px;
    margin-top: 5px;
}

.nav__cart-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #F72464;
    text-align: center;
    line-height: 20px;
}

/* Header */

.header {

}

.container {
}

.header__row {
    position: relative;
    display: flex;
    justify-content: flex-end; /* выравнивать элементы по конце основной оси х */
}


.header__content {
    position: absolute;
    /*left: 0;
    top: 50%;*/
    width: 670px;
    height: 389px;
    left: 0;
    top: 182px;
}

.header__title {
    margin: 0 0 20px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 96px;
}

.header__text {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 1.5;
}

.header__btn {

}

.button {
    display: inline-block; /* Чтобы ширина была по размеру контента */
    padding: 12px 33px 13px;
    background: #F72464;
    box-shadow: 0 4px 15px rgba(123, 12, 46, 0.35);
    border-radius: 4px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    font-size: 26px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.header__photo {
}

.button:hover{
    box-shadow: 0 4px 25px rgba(123, 12, 45, 0.671);
    background-color: #F72464;
}
/* Featured products */
/* Section header */
.featured {
    padding-top: 60px;
    padding-bottom: 70px;
}

.container {
}

.section__header {
    margin-bottom: 40px;
}

.section__header-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 56px;

    text-align: center;

    color: #000000;
    margin: 0 0 10px;
}

.section__header-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;

    color: #999999;
}

.section__header-desc p{
    margin-top: 0;
}

/* Product */

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px; /* отступ для рядов работает и в флексах и в гридах */
}

.product-link{
    text-decoration: none;
    display: inline-block;
}

.product-link:hover {
    opacity: 0.8; /*прозрачность*/
}

.product {
    text-align: center;
    max-width: 270px;
}

.product__img {
    display: block;
}

.product__title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.product__price {
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.product__price-old {
    color: #999999;
    margin-right: 10px;
}

.product__price-new {
    font-weight: bold;
    color: #F72464;
}

