*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.section-button-wrapper {
    text-align: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.blog {
    padding-top: 70px;
    padding-bottom: 45px;
}