.nav {
    padding: 40px 0; /* first padding from up down second left right */
    font-family: 'Playfair Display', serif;
}
/*
.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.navbar-brand, a.navbar-brand{
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-brand:hover {
    color: #F72464;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    margin-left: 30px;
    font-size: 18px;
    color: black;
}

/* Property for last nav__item */
.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: #F72464;
}

.nav__cart-link {
    position: relative;
    display: block;
    padding: 5px;
    margin-top: 5px;
}

.nav__cart-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #F72464;
    text-align: center;
    line-height: 20px;
}